html,
body {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 30%;
  border: 1px solid black;
}

/* Change styles for span and cancel button on extra small screens */
@media (min-width: 320px) {
  /* Bordered form */

  .form-login {
    width: 60%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  /* Full-width inputs */
  input[type="text"] {
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  input[type="password"] {
    width: 100%;
    display: flex;
    box-align: center;
    text-align: center;
  }

  /* Set a style for all buttons */
  button {
    background-color: #556b2f;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  /* Add padding to containers */
  .container {
    padding: 16px;
  }

  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
}

@media (min-width: 600px) {
  /* Bordered form */

  .form-login {
    width: 30%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  /* Full-width inputs */
  input[type="text"] {
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  input[type="password"] {
    width: 100%;
    display: flex;
    box-align: center;
    text-align: center;
  }

  /* Set a style for all buttons */
  button {
    background-color: #556b2f;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  /* Add padding to containers */
  .container {
    padding: 16px;
  }

  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
}

@media (min-width: 1700px) {
  /* Bordered form */

  .form-login {
    width: 30%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  /* Full-width inputs */
  input[type="text"] {
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  input[type="password"] {
    width: 100%;
    display: flex;
    box-align: center;
    text-align: center;
  }

  /* Set a style for all buttons */
  button {
    background-color: #556b2f;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  /* Add padding to containers */
  .container {
    padding: 16px;
  }

  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
}

style.center {
  text-align: center;
}
